<h2>User Status</h2>

<ul>
  <li><strong>Name:</strong> <%= @user.nome %></li>
  <li><strong>Status:</strong> <%= @user.status %></li>
  <li><strong>Matricula:</strong> <%= @user.matricula %></li>
  <li><strong>CPF:</strong> <%= @user.cpf %></li>
</ul>
