<h1>Bem-vindo à Home de Ônibus!</h1>
<p>Aqui você pode ver informações sobre ônibus, rotas, etc.</p>

<p><%= link_to "Registrar-se", signup_path %></p>
<p><%= link_to "Fazer Login", login_path %></p>
